<link href="/vendor/jqueryui/jquery-ui.css" rel="stylesheet">
<link href="/vendor/jqueryui/jquery-ui.structure.css" rel="stylesheet">
<link href="/vendor/jqueryui/jquery-ui.theme.css" rel="stylesheet">
<style>
    .imageUpload {
        width: 100%;
        padding: 50px;
        cursor: pointer;
        border: 3px solid white;
    }

    .imageUpload>div {
        text-align: center;
    }

    .imageUpload:hover {
        border: 3px solid #ffb03b;
        transition: 0.2s;
    }

    .fileName {
        padding-top: 10px;
        font-size: large;
        font-weight: bold;
        color: #35322d;
    }
</style>
<h1>Tell us about your restaurant:</h1>
<hr>
<br>
<div id="smartwizard" class="formTab">
    <ul class="nav">
        <li>
            <a class="nav-link" href="#step-1">
                Restaurant Display Information
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-2">
                Restaurant Details
            </a>
        </li>
        <li>
            <a class="nav-link" href="#step-3">
                Links For Socials
            </a>
        </li>
    </ul>
    <form action="/staffRestaurant/createRestaurant" method="post" id="createRestaurant">
        <div class="tab-content formTab">
            <div id="step-1" class="tab-pane" role="tabpanel">
                <div>
                    <div class="input-group">
                        <input type="text" id="name" class="form-control rounded" name="name" value="{{name}}"
                            placeholder="Restaurant Name" />
                        <button type="button" class="btn btn-outline-primary" onclick="getLogo()">Get Restaurant
                            Information <i class="fas fa-info-circle"></i></button>
                    </div>
                    <p id="resError" style="display: none; color:red;"><i class="fas fa-exclamation-circle"></i> Did not
                        find your
                        restaurant!</p>
                    <br>
                    <div class="form-outline">
                        <input type="url" id="website" class="form-control" name="website" value="{{website}}" />
                        <label class="form-label" for="website">Website <i class="fas fa-desktop"></i></label>
                    </div>
                    <p>*Leave blank if not applicable</p>
                    <br>
                    <input type="file" id="restaurantIcon" name="restaurantIcon"
                        accept="image/png,image/jpeg,image/jpg,image/gif" style="display: none;">
                    <input id="iconURL" type="hidden" name="iconURL" required>
                    <label for="restaurantIcon" class="FDefaultTab imageUpload">
                        <div>
                            <img id="icon" src="/img/UploadFile.png" alt="" style="width: 300px;">
                            <div class="instr">Select a file or drag here</div>
                            <div class="font-weight-bold text-danger small" id="iconErr" style="display:none"></div>
                            <br>
                            <span class="instr btn btn-primary">Select a file</span>
                            <div class="fileName" style="display: none;"></div>
                        </div>
                    </label>
                </div>
            </div>
            <div id="step-2" class="tab-pane" role="tabpanel">
                <!-- Company Phone -->
                <div class="form-outline mb-4">
                    <input type="tel" id="phone" name="phone" class="form-control"
                        pattern="/[6|8|9]\d{7}|\+65[6|8|9]\d{7}|\+65\s[6|8|9]\d{7}/g" value="{{phone}}" required />
                    <label class="form-label" for="phone">Public Company Phone Number <i
                            class="fas fa-phone"></i></label>
                </div>
                <!-- Address -->
                <div class="row">
                    <div class="col-8">
                        <div class="form-outline mb-4">
                            <input type="text" id="address" name="address" class="form-control" autocomplete="off"
                                value="{{address}}" required />
                            <label class="form-label" for="address">Address <i
                                    class="fas fa-map-marker-alt"></i></label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-outline mb-4">
                            <input type="text" id="unit" name="unit" class="form-control" value="{{unit}}"
                                required />
                            <label class="form-label" for="unit">Unit <i class="fas fa-hashtag"></i></label>
                        </div>
                    </div>
                </div>
                <!-- Cuisine -->
                <select class="form-select" id="cuisine" name="cuisine" required>
                    <option value="" disabled selected>Cuisine</option>
                    <option value="Western" {{western}}>Western</option>
                    <option value="Mexican" {{mexican}}>Mexican</option>
                    <option value="Thai" {{thai}}>Thai</option>
                    <option value="Indian" {{indian}}>Indian</option>
                    <option value="Japanese" {{japanese}}>Japanese</option>
                    <option value="French" {{french}}>French</option>
                    <option value="Chinese" {{chinese}}>Chinese</option>
                    <option value="Italian" {{italian}}>Italian</option>
                    <option value="Seafood" {{seafood}}>Seafood</option>
                    <option value="Local" {{local}}>Local</option>
                </select>
                <br>
                <!-- Opening and Closing Hours -->
                <div class="form_group">
                    <label for="open_time">Opening Hours:</label>
                    <input type='time' name="open_time" class="form-control" value="{{open_time}}" required />
                </div>
                <br>
                <div class="form-group">
                    <label for="close_time">Closing Hours:</label>
                    <input type='time' name="close_time" class="form-control" value="{{close_time}}" required />
                </div>
                <br>
                <!-- Price -->
                <label for="price" class="form-label">Average Price Per Pax. ($):</label>
                <div class="row">
                    <div class="col-1">Less than</div>
                    <div class="range col-10">
                        <input required type="range" class="form-range" min="10" max="100" step="10" id="price" name="price" value="{{price}}" />
                    </div>
                    <div class="col-1" style="text-align: right;">More than</div>
                </div>
                <br>
                <!-- Halal -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value=1 id="halal" name="halal">
                    <label class="form-check-label" for="halal">
                        Halal
                    </label>
                </div>
            </div>
            <div id="step-3" class="tab-pane" role="tabpanel">
                <!-- Facebook Link -->
                <div class="form-outline mb-4">
                    <input type="url" id="facebook" name="facebook" class="form-control" value="{{facebook}}" />
                    <label class="form-label" for="facebook">Facebook account url</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="url" id="twitter" name="twitter" class="form-control" value="{{twitter}}" />
                    <label class="form-label" for="twitter">Twitter account url</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="url" id="instagram" name="instagram" class="form-control" value="{{instagram}}" />
                    <label class="form-label" for="instagram">Instagram account url</label>
                </div>
                <p>*Leave blank if not applicable</p>
            </div>
        </div>
    </form>
</div>

<script src=""></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/css/smart_wizard_all.min.css" rel="stylesheet"
    type="text/css" />
<script src="https://cdn.jsdelivr.net/npm/smartwizard@5/dist/js/jquery.smartWizard.min.js"
    type="text/javascript"></script>
<script src="/vendor/jqueryui/jquery-ui.js"></script>
<script>
    $("#restaurantIcon").on("change", function () {
        $(".instr").css("display", "none")
        $(".fileName").css("display", "block")
        $(".fileName").html($("#restaurantIcon").val())
    })
    $("#name").on("change", function () {
        $("#res_name").val($("#name").val() + "@" + $("#tag").val())
    })
    $("#tag").on("change", function () {
        $("#res_name").val($("#name").val() + "@" + $("#tag").val())
    })
    $("#restaurantIcon").on("change", function () {
        let image = $("#restaurantIcon")[0].files[0];
        let formdata = new FormData();
        formdata.append("restaurantIcon", image);
        $.ajax({
            url: "/staffRestaurant/upload",
            type: "POST",
            data: formdata,
            contentType: false,
            processData: false,
            success: (data) => {
                $("#icon").attr("src", data.file);
                $("#iconURL").val(data.file); // sets iconURL hidden field
                if (data.err) {
                    $("#iconErr").show();
                    $("#iconErr").text(data.err.message);
                } else {
                    $("#iconErr").hide();
                }
            },
        });
    });

    function getLogo() {
        const name = document.getElementById("name").value;
        const imageURL = document.getElementById("iconURL");
        const image = document.getElementById("icon");
        const website = document.getElementById("website")
        fetch("https://autocomplete.clearbit.com/v1/companies/suggest?query=:" + name)
            .then((res) => {
                return res.json();
            }).then((data) => {
                if (data.length == 0) {
                    console.log("No logo found!")
                    $("#resError").css("display", "inline")
                } else {
                    $("#resError").css("display", "none")
                    imageURL.value = data[0].logo;
                    image.src = data[0].logo;
                    website.value = "https://" + data[0].domain;
                }
            }
            )
    }
    $("#address").keyup(function () {
        let address = $("#address").val()

        let addresses = fetch("https://developers.onemap.sg/commonapi/search?searchVal=" + address + "&returnGeom=N&getAddrDetails=Y&pageNum=1")
            .then((res) => {
                return res.json();
            }).then((data) => {
                if (data.found == 0) {
                    console.log("No address found!")
                } else {

                    return data.results.map(a => a.ADDRESS)
                }
            }
            )
        addresses.then((addr) => {
            $("#address").autocomplete({
            source: addr
        }, {});
        })
        
    })



    $(function () {
        $('#smartwizard').smartWizard({
            theme: "dots",
            transition: {
                animation: "slide-horizontal",
                speed: "400",
            },
            toolbarSettings: {
                toolbarPosition: 'bottom', // none, top, bottom, both
                toolbarButtonPosition: 'right', // left, right, center
                showNextButton: true, // show/hide a Next button
                showPreviousButton: true, // show/hide a Previous button
                toolbarExtraButtons: [$('<button></button>').text('Submit')
                    .addClass('btn sw-btn-group-extra FDefaultButton')
                    .on('click', function () {
                        $("#createRestaurant").submit();
                    }),]
            },
        });
        $("#smartwizard").on("showStep", function (e, anchorObject, stepNumber, stepDirection) {
            if ($('button.sw-btn-next').hasClass('disabled')) {
                $('.sw-btn-group-extra').show(); // show the button extra only in the last page
            } else {
                $('.sw-btn-group-extra').hide();
            }
        });
        $(".sw-btn-next").addClass("FDefaultButtonBlue")
        $(".sw-btn-prev").addClass("FDefaultButtonRed")
    });
</script>