<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<link href="/vendor/jqueryui/jquery-ui.css" rel="stylesheet">
<link href="/vendor/jqueryui/jquery-ui.structure.css" rel="stylesheet">
<link href="/vendor/jqueryui/jquery-ui.theme.css" rel="stylesheet">
<style>
    .backTheme {
        background-color: #35322d;
        color: #FFFFFF;
        padding: 20px;
        border-radius: 7px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
    }

    .tblTheme {
        background-color: #35322d;
        color: #FFFFFF;
        padding: 20px;

    }

    th {
        color: #ffb03b;
    }

    img {
        margin: 20px;
    }

    .table-hover {
        color: white;
         !important
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
</style>

<div class="backTheme">
    <form action="/staffRestaurant/editRestaurant" method="post">
        <h1 style="text-align: center;">{{restaurant.res_name}}</h1>
        <hr>
        <img id="icon" src="{{restaurant.image}}" alt="" style="width: 400px;" class="center">
        <input style="width: 50%" class="form-control center" type="file" id="restaurantIcon" name="restaurantIcon"
            accept="image/png,image/jpeg,image/jpg,image/gif">
        <input id="iconURL" type="hidden" name="iconURL" value="{{restaurant.image}}">
        <div class="font-weight-bold text-danger small" id="iconErr" style="display:none"></div>
        <br>
        <table class="table table-dark table-hover tblTheme">
            <tr>
                <th>Name:</th>
                <td>
                    <div class="input-group">
                        <input type="text" id="name" class="form-control rounded" name="name" value="{{restaurant.name}}"
                            placeholder="Restaurant Name" required/>
                        <button type="button" class="btn btn-outline-primary" onclick="getLogo()">Get Restaurant
                            Info <i class="fas fa-info-circle"></i></button>
                    </div>
                    <p id="resError" style="display: none; color:red;"><i class="fas fa-exclamation-circle"></i> Did not
                        find your
                        restaurant!</p>
                </td>
            </tr>
            <tr>
                <th>Address:</th>
                <td>
                    <div class="form-group">
                        <input type="text" name="address" id="address" class="form-control" value="{{restaurant.address}}" required>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Unit Number:</th>
                <td>
                    <div class="form-group">
                        <input type="text" name="unit" id="unit" class="form-control" value="{{restaurant.unit}}" required>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Opening Time:</th>
                <td>
                    <div class="form_group">
                        <input type='time' name="open_time" class="form-control" id="open_time"
                            value="{{restaurant.open_time}}" required />
                    </div>
                </td>
            </tr>
            <tr>
                <th>Closing Time:</th>
                <td>
                    <div class="form-group">
                        <input type='time' name="close_time" class="form-control" id="close_time"
                            value="{{restaurant.close_time}}" required />
                    </div>
                </td>
            </tr>
            <tr>
                <th>Cuisine:</th>
                <td>
                    <select class="form-select" id="cuisine" name="cuisine" required>
                        <option value="Western" {{restaurant.western}}>Western</option>
                        <option value="Mexican" {{restaurant.mexican}}>Mexican</option>
                        <option value="Thai" {{restaurant.thai}}>Thai</option>
                        <option value="Indian" {{restaurant.indian}}>Indian</option>
                        <option value="Japanese" {{restaurant.japanese}}>Japanese</option>
                        <option value="French" {{restaurant.french}}>French</option>
                        <option value="Chinese" {{restaurant.chinese}}>Chinese</option>
                        <option value="Italian" {{restaurant.italian}}>Italian</option>
                        <option value="Seafood" {{restaurant.seafood}}>Seafood</option>
                        <option value="Local" {{restaurant.local}}>Local</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Average Price Per Pax. ($):</th>
                <td>
                    <label for="price" class="form-label"></label>
                    <div class="row">
                        <div class="col-1">Less than</div>
                        <div class="range col-10">
                            <input type="range" class="form-range" min="10" max="100" step="10" id="price" name="price"
                                value="{{restaurant.price}}" required />
                        </div>
                        <div class="col-1" style="text-align: right;">More than</div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Halal:</th>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value=1 id="halalCheckBox" {{#if
                            restaurant.halal}}checked{{/if}}>
                        <input type="hidden" id="halal" name="halal" value=0>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Website:</th>
                <td>
                    <div class="form-group">
                        <input type="url" class="form-control" name="website" value="{{restaurant.website}}"
                            id="website">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>
                    <div class="form-group">
                        <input type="number" class="form-control" name="phone" value="{{restaurant.phone}}" required>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Facebook:</th>
                <td>
                    <div class="form-group">
                        <input type="url" class="form-control" name="facebook" value="{{restaurant.facebook}}">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Twitter:</th>
                <td>
                    <div class="form-group">
                        <input type="url" class="form-control" name="twitter" value="{{restaurant.twitter}}">
                    </div>
                </td>
            </tr>
            <tr>
                <th>Instagram:</th>
                <td>
                    <div class="form-group">
                        <input type="url" class="form-control" name="instagram" value="{{restaurant.instagram}}">
                    </div>
                </td>
            </tr>
        </table>
        <button id="butAddVideo" class="btn-block book-a-table-btn scrollto center"><i class="far fa-share-square"></i>
            Save Changes </button>
    </form>
</div>


<script src="/vendor/jqueryui/jquery-ui.js"></script>
<script>
    function getLogo() {
        const name = document.getElementById("name").value;
        const imageURL = document.getElementById("iconURL");
        const image = document.getElementById("icon");
        const website = document.getElementById("website")
        fetch("https://autocomplete.clearbit.com/v1/companies/suggest?query=:" + name)
            .then((res) => {
                return res.json();
            }).then((data) => {
                if (data.length == 0) {
                    console.log("No logo found!")
                    $("#resError").css("display", "inline")
                } else {
                    imageURL.value = data[0].logo;
                    image.src = data[0].logo;
                    website.value = "https://" + data[0].domain;
                }
            }
            )
    }
    $(function () {
        $("#halalCheckBox").on("change", function () {
            if (document.getElementById("halalCheckBox").checked) {
                $("#halal").val(1)
            }
            else {
                $("#halal").val(0)
            }
        })
    });
    $("#restaurantIcon").on("change", function () {
        let image = $("#restaurantIcon")[0].files[0];
        let formdata = new FormData();
        formdata.append("restaurantIcon", image);
        $.ajax({
            url: "/staffRestaurant/upload",
            type: "POST",
            data: formdata,
            contentType: false,
            processData: false,
            success: (data) => {
                $("#icon").attr("src", data.file);
                $("#iconURL").val(data.file); // sets iconURL hidden field
                if (data.err) {
                    $("#iconErr").show();
                    $("#iconErr").text(data.err.message);
                } else {
                    $("#iconErr").hide();
                }
            },
        });
    });
    $("#address").keyup(function () {
        let address = $("#address").val()

        let addresses = fetch("https://developers.onemap.sg/commonapi/search?searchVal=" + address + "&returnGeom=N&getAddrDetails=Y&pageNum=1")
            .then((res) => {
                return res.json();
            }).then((data) => {
                if (data.found == 0) {
                    console.log("No address found!")
                } else {

                    return data.results.map(a => a.ADDRESS)
                }
            }
            )
        addresses.then((addr) => {
            $("#address").autocomplete({
                source: addr
            }, {});
        })

    })
</script>