<style>
    .backTheme {
        background-color: #35322d;
        color: #FFFFFF;
        padding: 20px;
        border-radius: 7px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 900px;
    }

    .tblTheme {
        background-color: #35322d;
        color: #FFFFFF;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    th {
        color: #ffb03b;
    }

    td {
        text-align: right;
    }

    img {
        margin: 20px;
    }

    .table-hover {
        color: white;
         !important
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .linkTheme {
        color: #ffb03b;
    }

    .linkTheme:hover {
        color: #ffb13bb7;
    }
</style>

{{#ifEquals restaurant.image undefined}}
<div class="alert alert-warning" role="alert">
    <i class="fas fa-exclamation-triangle"></i> You have not created your restaurant tab!
</div>
<div class="FDefaultTab standardPad" style="margin: 200px;">
    <a href="/staffRestaurant/createRestaurant" class="btn btn-lg btn-block FDefaultButton"
        style="margin: 0px; display:block;">Click here to make your restaurant tab</a>
</div>
{{else}}
<div class="backTheme">
    <h1 style="text-align: center;">{{restaurant.res_name}}</h1>
    <hr>
    <img src="{{restaurant.image}}" alt="" style="width: 400px;" class="center">

    <table class="table table-dark table-hover tblTheme">
        <tr>
            <th>Name:</th>
            <td>{{restaurant.name}}</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>{{restaurant.address}}</td>
        </tr>
        <tr>
            <th>Unit Number:</th>
            <td>{{restaurant.unit}}</td>
        </tr>
        <tr>
            <th>Opening Time:</th>
            <td>{{{timeFormat restaurant.open_time}}}</td>
        </tr>
        <tr>
            <th>Closing Time:</th>
            <td>{{timeFormat restaurant.close_time}}</td>
        </tr>
        <tr>
            <th>Cuisine:</th>
            <td>{{restaurant.cuisine}}</td>
        </tr>
        <tr>
            <th>Halal:</th>
            <td>
                {{#if restaurant.halal}}Yes {{else}}No{{/if}}
            </td>
        </tr>
        <tr>
            <th>Website:</th>
            <td>{{#if restaurant.website}}<a class="linkTheme"
                    href="{{restaurant.website}}">{{restaurant.website}}</a>{{else}}None{{/if}}</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>{{restaurant.phone}}</td>
        </tr>
        <tr>
            <th>Average Price:</th>
            <td>${{priceFormat restaurant.price}}</td>
        </tr>
        <tr>
            <th>Facebook:</th>
            <td>{{#if restaurant.facebook}}<a class="linkTheme"
                    href="{{restaurant.facebook}}">{{restaurant.facebook}}</a>{{else}}None{{/if}}</td>
        </tr>
        <tr>
            <th>Twitter:</th>
            <td>{{#if restaurant.twitter}}<a class="linkTheme"
                    href="{{restaurant.twitter}}">{{restaurant.twitter}}</a>{{else}}None{{/if}}</td>
        </tr>
        <tr>
            <th>Instagram:</th>
            <td>{{#if restaurant.instagram}}<a class="linkTheme"
                    href="{{restaurant.instagram}}">{{restaurant.instagram}}</a>{{else}}None{{/if}}</td>
        </tr>

    </table>
    <a href="/staffRestaurant/editRestaurant" class="btn FDefaultButton btn-rounded center">Edit Restaurant</a>
</div>
{{/ifEquals}}