
<!-- ======= Header ======= -->
  <header id="header" class="chatbotnav fixed-top d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <div class="logo me-auto">
        <h1><a href="/">Foodecent</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          
          {{#if user}}
          {{#ifEquals user.cust_type "customer"}}
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto " href="/restaurant">Restaurant</a></li>
          {{else}}
          <li class="dropdown"><a href="#"><span>My Restaurant</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/staffRestaurant/viewRestaurant">View restaurant</a></li>
              <li><a href="/staffRestaurant/viewLayout">View layout</a></li>
              <li class="dropdown"><a href="#"><span>Menu</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="/menu">View menu</a></li>
                  <li><a href="/menu/updateMenu">Edit menu</a></li>
                </ul>
              </li>
              <li><a href="/createPromotions">Promotion</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto " href="/staffRestaurant/seatManager">Seat Manager</a></li>
          {{/ifEquals}}
          {{else}}
          <li><a class="nav-link scrollto " href="/">Home</a></li>
          <li><a class="nav-link scrollto " href="/restaurant">Restaurant</a></li
          {{/if}}

          
          {{#if user}}
          {{#ifEquals user.cust_type "staff"}}
          <li><a class="nav-link scrollto" href="/bookingStaff/viewBookings/{{user.fname}}">Bookings<i class="fas fa-bell"></i></a></li>
          
          {{else}}
          <li><a class="nav-link scrollto " href="/bookingInterface/bookingDetailsList/{{user.email}}">Notifications</a></li>
          {{/ifEquals}}
          {{/if}}

          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    {{#if user}}
      <a 
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
        style="margin-left: 2%;"
      >
      {{#if user.profilepic}}
        <img
          src="{{user.profilepic}}"
          class="rounded-circle"
          height="30"
          width="30"
          alt=""
          loading="lazy"
        />

      {{else}}
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
          class="rounded-circle"
          height="30"
          alt=""
          loading="lazy"
        />
      {{/if}}
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="/user/profile">My profile</a>
        </li>
        <li>
          <a class="dropdown-item" href="/user/logout">Logout</a>
        </li>
      </ul>
          
          
    {{else}}
      {{!-- <a href="/user/login" class="book-a-table-btn scrollto">Login</a> --}}
         <!-- Avatar -->
      <a
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
        style="margin-left: 2%;"
      >
        <img
          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
          class="rounded-circle"
          height="30"
          alt=""
          loading="lazy"
        />
      </a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdownMenuLink"
      >
        <li>
          <a class="dropdown-item" href="/user/login">Login</a>
        </li>
        <li>
          <a class="dropdown-item" href="/user/register">Sign up (Customer)</a>
        </li>
        <li>
          <a class="dropdown-item" href="/user/registerOwner">Sign up (Restaurant Owner)</a>
        </li>
      </ul>
    {{/if}}
    </div>
  </header><!-- End Header -->