<div class="jumbotron text-center">
	<div class="container">
		<h1 class="display-4">{{title}}</h1>
	</div>
	<br>
</div>
<!-- Carousel wrapper -->
<div
  id="carouselBasicExample"
  class="carousel slide carousel-fade"
  data-mdb-ride="carousel"
>
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
    <!-- Single item -->
    <div class="carousel-item active">
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>

    <!-- Single item -->
    <div class="carousel-item">
      <img
        src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <!-- Inner -->

  <!-- Controls -->
  <button
    class="carousel-control-prev"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-mdb-target="#carouselBasicExample"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->

<!-- Pills navs -->
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="ex3-tab-1"
      data-mdb-toggle="pill"
      href="#ex3-pills-1"
      role="tab"
      aria-controls="ex3-pills-1"
      aria-selected="true"
      >Recently Booked Restaurant</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="ex3-tab-2"
      data-mdb-toggle="pill"
      href="#ex3-pills-2"
      role="tab"
      aria-controls="ex3-pills-2"
      aria-selected="false"
      >Promotional Deals</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="ex3-tab-3"
      data-mdb-toggle="pill"
      href="#ex3-pills-3"
      role="tab"
      aria-controls="ex3-pills-3"
      aria-selected="false"
      >Vacant Restaurant</a
    >
  </li>
</ul>
<!-- Pills navs -->

<!-- Pills content -->
<div class="tab-content" id="ex2-content">
  <div
    class="tab-pane fade show active"
    id="ex3-pills-1"
    role="tabpanel"
    aria-labelledby="ex3-tab-1"
  >
        <div class="card mb-3 resTab" style="background-color: rgba(26, 24, 22, 0.8); max-height: 200px; border-radius:15px;">
    <div class="row g-0">
        <div class="col-md-2">
            <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
                alt="..." class="img-fluid" style="max-height: 200px; " />
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h3 class="card-title" style="color: white;">McDonald's</h3>
                <p class="card-text">
                    <small class="text-muted">4.2/5 <span class="fa fa-star checked"></span></small>
                </p>
                <p class="card-text" style="color: white;">
                    30 Sembawang Dr, #01 - 16 / 17 Sun Plaza · In Sun Plaza · 6754 2644
                </p>
                <div class="buttons">
                    <div class="action_btn">
                        <a class="btn btn-primary" style="background-color: #3b5998" href="restaurant/restaurant_1" role="button">View Restaurant</a></div>
                        <a class="btn btn-primary" style="background-color: #3b5998" href="#!" role="button">View Menu</a></div>
                    </div>
                    
                </div>
                
            </div>
        </div>
  </div>
  <div
    class="tab-pane fade"
    id="ex3-pills-2"
    role="tabpanel"
    aria-labelledby="ex3-tab-2"
  >
    {{#if promotions}}
    {{#each promotions}}
    <div class="card mb-3 resTab" style="background-color: rgba(26, 24, 22, 0.8); max-height: 250px; border-radius:15px;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
                    alt="..." class="img-fluid" style="max-height: 250px; " />
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h4 class="card-title" style="color: #ffb03b;">{{name}} <c style="float: right; color: #ffb03b; font-size: 50px;">{{discount}}%</c> </h4>
                    <p class="card-text" style="color: white;">Start Date: {{startdate}}</p>
                    <p class="card-text" style="color: white;">End Date: {{enddate}}</p>
                    <p class="card-text" style="color: white;">Details: {{details}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{/if}}
</div>
  <div
    class="tab-pane fade"
    id="ex3-pills-3"
    role="tabpanel"
    aria-labelledby="ex3-tab-3"
  >
    
  </div>
</div>

<style>
  .nav-link{
    background-color: #35322d !important;
    color: #ffb03b !important;
  }
  .nav-link.active{
    background-color: #ffb03b !important;
    color: #35322d !important;
  }
</style>