{{!-- <div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Create Promotion</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <form method="POST" action="/createPromotions/promotion/createPromotions">
        <table id="form-table">
            <tr>
                <td><label for="">Enter Promotion Name: </label></td>
                <td><input type="text" name="name"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">Start Date: </label></td>
                <td><input type="date" name="startdate"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">End Date:</label></td>
                <td><input type="date" name="enddate"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">Discount: </label></td>
                <td><input type="numbers" name="discount"> %</td>
            </tr>
            <tr>
                <td align="right"><label for="">Details: </label></td>
                <td><textarea name="details" id="" cols="30" rows="2"></textarea></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">Banner Photo: </label></td>
                <td><input type="file" name="banner" accept="image/png, image/jpeg, image/jpg"></td>
                <td></td>
            </tr>
        </table>
        <div style="float: right;">
            <input class="btn btn-primary" type="submit" value="Submit"/>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
      </div>
    </div>
  </div>
</div> --}}

<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-primary"
  data-mdb-toggle="modal"
  data-mdb-target="#exampleModal"
  style="background-color: #ffb03b;"
>
  Create A Promotion
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="/createPromotions/createPromotions">
        <table id="form-table">
            <tr>
                <td align="right"><label for="">Title: </label></td>
                <td><input type="text" name="name"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">Start Date: </label></td>
                <td><input type="date" name="startdate"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">End Date:</label></td>
                <td><input type="date" name="enddate"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">Discount: </label></td>
                <td><input type="numbers" name="discount"> %</td>
            </tr>
            <tr>
                <td align="right"><label for="">Details: </label></td>
                <td><textarea name="details" id="" cols="30" rows="2"></textarea></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">Banner Photo: </label></td>
                <td><input type="file" name="banner" accept="image/png, image/jpeg, image/jpg"></td>
                <td></td>
            </tr>
        </table>
        <div style="float: right;">
            <input class="btn btn-primary" type="submit" value="Submit"/ style="background-color: #3b5998;">
                  <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" style="background-color:#BB4450;">
          Close
        </button>
        </div>
    </form>
  </div>
</div>
</div>

<div class="container">
    <h2>Promotions</h2>
    <hr>
    {{#if promotions}}
    {{#each promotions}}
    <div class="card mb-3 resTab" style="background-color: rgba(26, 24, 22, 0.8); max-height: 250px; border-radius:15px;">
        <div class="row g-0">
            <div class="col-md-2">
                <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
                    alt="..." class="img-fluid" style="max-height: 250px; " />
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h4 class="card-title" style="color: #ffb03b;">{{name}} <c style="float: right; color: #ffb03b; font-size: 50px;">{{discount}}%</c> </h4>
                    <p class="card-text" style="color: white;">Start Date: {{startdate}}</p>
                    <p class="card-text" style="color: white;">End Date: {{enddate}}</p>
                    <p class="card-text" style="color: white;">Details: {{details}}</p>
                <div class="buttons">
                    <div class="action_btn">
                        <a class="btn btn-primary" style="background-color: #BB4450; float: right; margin-left: 5px;" href="/createPromotions/{{id}}" role="button">Delete</a>
                        <a class="btn btn-primary" style="background-color: #3b5998; float: right" href="" data-mdb-toggle="modal" data-mdb-target="#update{{id}}" role="button">Update</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}

{{#each promotions}}
<div
  class="modal fade"
  id="update{{id}}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
<div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="/createPromotions/updatePromotions/{{id}}">
        <table id="form-table">
            <tr>
                <td align="right"><label for="">Title: </label></td>
                <td><input type="text" name="name" value="{{name}}"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">Start Date: </label></td>
                <td><input type="date" name="startdate" value="{{startdate}}"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">End Date:</label></td>
                <td><input type="date" name="enddate" value="{{enddate}}"></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">Discount: </label></td>
                <td><input type="numbers" name="discount" value="{{discount}}"> %</td>
            </tr>
            <tr>
                <td align="right"><label for="">Details: </label></td>
                <td><textarea name="details" id="" cols="30" rows="2">{{details}}</textarea></td>
                <td></td>
            </tr>
            <tr>
                <td align="right"><label for="">Banner Photo: </label></td>
                <td><input type="file" name="banner" accept="image/png, image/jpeg, image/jpg"></td>
                <td></td>
            </tr>
        </table>
        <div style="float: right;">
            <input class="btn btn-primary" type="submit" value="Submit"/ style="background-color: #3b5998;">
                  <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal" style="background-color:#BB4450;">
          Close
        </button>
        </div>
      </form>
  </div>
</div>
</div>
{{/each}}


<style>
    .modal-content {
        padding: 5%;
    }
    #form-table {
        border-collapse: separate;
        border-spacing: 5px;
    }
    .container {
        margin-top: 2%;
    }
</style>