<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .checked {
        color: orange;
    }

    .seat {
        height: 50px;
        width: 50px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }

    .square {
        height: 100%;
        width: 100%;
        background-color: #bbb;
        display: inline-block;
    }
</style>
<div class="media row" style="padding: 10px; background-color:#f2f1ef;">
    <img src="https://d1nqx6es26drid.cloudfront.net/app/uploads/2019/11/05175538/McD_TheToken%C2%AE_1235_RGB.png"
        class="align-self-start mr-3 col-md-4" alt="..." style="max-height: 400px; max-width: 400px;">
    <div class="media-body col-md-8">
        <div class="media-body col-md-8">
            <h1 class="mt-0">{{restaurant.res_name}}</h1>
            <div>
                5.0
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                | 12 Ratings
                <!-- Facebook -->
                <a style="color: #3b5998;" href="{{restaurant.facebook}}" role="button"><i
                        class="fab fa-facebook-f fa-lg"></i></a>
                <!-- Twitter -->
                <a style="color: #55acee;" href="{{restaurant.twitter}}" role="button"><i
                        class="fab fa-twitter fa-lg"></i></a>
                <!-- Instagram -->
                <a style="color: #ac2bac;" href="{{restaurant.instagram}}" role="button"><i
                        class="fab fa-instagram fa-lg"></i></a>
            </div>
            <hr>
            <table class="table table-borderless">
                <tr>
                    <td>Location:</td>
                    <td>{{restaurant.address}}</td>
                </tr>
                <tr>
                    <td>Opening Hours:</td>
                    <td>{{restaurant.open_time}} - {{restaurant.close_time}}</td>
                </tr>
                <tr>
                    <td>Cuisine:</td>
                    <td>{{restaurant.cuisine}}</td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td>6754 2644</td> <!-- Get from Cruz later on -->
                </tr>
            </table>
            <a href="../../bookingInterface/bookForm/{{restaurant.res_name}}" class="btn btn-primary btn-block">Book a
                table</a>
        </div>
    </div>
    <br>
    <div id="resDiv">
        <table id = "resTable">
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
</div>
<script src="../../public/js/res.js"></script>