<div class="container">
    <h2>My Reviews</h2>
    <hr>
    {{#if reviews}}
    {{#each reviews}}
    <div class="card mb-3 resTab" style="background-color: rgba(26, 24, 22, 0.8); max-height: 250px; border-radius:15px;">
        <div class="row g-0">
            <div class="col-md-12">
                <div class="card-body">
                    <h2 style="color: #ffa012;">{{restaurant}}</h2>
                    <p class="card-text" style="color: white;">{{average}} <span class="fa fa-star checked"></span></p> 
                    <p class="card-text" style="color: white;">Comments: {{comments}}</p>
                <div class="buttons">
                    <div class="action_btn">
                        <form action="/userReviews/deleteReviews/{{id}}" method="POST">
                            <button class="btn btn-primary" style="background-color: #BB4450; float: right;  margin-left: 5px; margin-bottom: 5px;">Delete</button>
                        </form>
                        <form action="/userReviews/editReviews/{{id}}" method="GET" >
                        <button class="btn btn-primary" style="background-color: #3b5998; float: right; margin-bottom: 5px;">Edit</button>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{else}}
    <h3 style="text-align: center;">You have yet to review a restaurant</h3>
    {{/if}}

</div>

<style>
    .checked {
        color: orange;
        text-align: :;
    }
</style>