<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="alert alert-success successMsg" style="display: none;"></div>
        <div style="margin-bottom: 20px;"><a href="/book/menuBook/{{session.resName}}"> <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-backspace" viewBox="0 0 16 16">
        <path d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
        <path d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z"/>
        </svg></a></div>
        <h1 class="menuTitle">Food Cart</h1>
        <div class="bookInfo">
            
            <table class="bookTable bookTable1">
                <tr> 
                    <td>Restaurant:</td>
                    <td>Restaurant 1</td>
                </tr>
                <tr>
                    <td>Booking Date:</td>
                    <td>01/01/2021</td>
                </tr>
                <tr>
                    <td>Booking Time:</td>
                    <td>4:00pm</td>
                </tr>
                <tr>
                    <td>Pax:</td>
                    <td>2</td>
                </tr>
            </table>
        </div> 
        <div class="cart">

            <table class="bookTable bookTable2">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Food</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each session.cart}}
                {{#ifEqualsUser this.userId ../user}}
                {{#each orders}}
                {{#each ../../menus}}
                {{#ifEquals ../../id id}}
                <tr id="{{id}}-{{../uniqueId}}" style="padding-bottom: 10px">
                <td>{{inc @index}}</td>
                <td>{{name}}
                {{#ifEquals ../specifications ''}}{{else}}<br><span style="font-size: 0.8em;">Spec: {{../specifications}}</span>{{/ifEquals}}
                {{#if ../remark}}<br><span style="font-size: 0.8em;">Remark: {{../remark}}</span>{{/if}}</td>
                <td>{{../this.quantity}}</td>
                <td>{{#distanceFixedCost price ../this.additional ../this.quantity}}{{/distanceFixedCost}}</td>
                <td><a id="deleteFood" href="/book/delete/{{id}}/{{../uniqueId}}">delete</a></td>
                </tr>
                {{/ifEquals}}
                {{/each}}
                {{/each}}
                {{/ifEqualsUser}}
                {{/each}}
            </tbody>
            </table>
        </div>
        {{!-- <form action="/book/createOrder" method="post"> --}}
        <form action="/book/create-checkout-session" method="post">
        <div class="remarks">
            <div class="form-outline mb-4" style="margin-bottom:0px;">
                <textarea name="remark" class="form-control" id="form4Example3" rows="2"></textarea>
                <label class="form-label" for="form4Example3">Remarks</label>
            </div>
        </div>
        <div class="checkout">
            <button type="button" name="" id="" class="btn btn-block bookButton" {{#if session.cart}}{{else}}disabled{{/if}}>Checkout</button>
            <div>
                Total: ${{#distanceFixed count}}{{/distanceFixed}}
            </div>
        </div>
        </form>
        <div class="clear"></div>
    </div>
    <div class="col-md-2">
    </div>
</div>

<script>
    var stripePublicKey = '{{stripePublicKey}}';
    console.log(stripePublicKey);

    var stripeHandler = StripeCheckout.configure({
        key: stripePublicKey,
        locale: 'en',
        token: function(token) {
            var remark = $('form textarea').text()
            var count = parseFloat('{{count}}')
            console.log(remark, token)
            fetch('/book/createOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    remark: 'test',
                    count:count,
                    token:token
                }),
            }).then(response => {
                console.log(response);
                window.location.assign(response.url);
            })
        }
    })

    $('.checkout button').on('click', function() {
        stripeHandler.open({
            amount: parseFloat('{{count}}')
        })
    })
</script>