<script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h1 class="menuTitle">MENU</h1>
        {{#if types}}
        <div class="subNav">
          {{#each types}}
          <div class="subNavItem" style="font-weight: 500;"><a href="#{{this}}">{{this}}</a></div>
          {{/each}}
        </div>
        {{/if}}
        {{#if types}}
        {{#each types}}
        <div class="menuType">
            <div class="menuSubTitle" id="#{{this}}"><h2>{{this}}</h2></div>
          <div class="menuCat">
              {{#each ../menus}}
              {{#ifEquals this.type ../this}}
                <div class="menuItem">
                    <div class="menuImage"></div>
                    <div class="menuContent">
                      <div>{{this.name}}<br>
                      <span style="font-weight: 300;">${{#distanceFixed this.price}}{{/distanceFixed}}</span>
                      </div>
                      {{#each ../../session.cart}}
                      {{#ifEquals this.id ../this.id}}
                      <div style="font-weight: 300;">Ordered x{{this.quantity}}</div>
                      {{/ifEquals}}
                      {{/each}}
                      <button type="button" name="" id="" class="btn btn-dark btn-block"  data-bs-toggle="modal" data-bs-target="#food{{this.id}}">Order</button>
                    </div>
                </div>
              {{/ifEquals}}
              {{/each}}
          </div>

        </div>
        {{/each}}
        {{else}}
        <div style="margin-top: 60px; text-align:center;"><h2>Menu empty...</h2></div>
        {{/if}}
        <button type="button" name="" id="" class="btn btn-block cartButton" onclick="window.location.href='/book/foodCart'">Food Cart</button>
    </div>
    <div class="col-md-2">
        {{!-- <div style="height: 50px; width: 50px; background-color: #ffb03b; border-radius: 50%; position: fixed; margin-left: 75px;">
            <svg xmlns="http://www.w3.org/2000/svg" style="margin: 10px 10px;" width="28" height="28" fill="white" class="bi bi-cart" viewBox="0 0 16 16">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
        </div> --}}
    </div>
</div>

{{#each menus}}
<div class="modal fade modalMenu" id="food{{this.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop1Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdrop1Label">Food Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/book/add/{{this.id}}" method="post">
      <div class="modal-body">
        <div class="">
            <div class="menuImage"></div>
            <div class="popUpContent popUpContent2">
              <div class="popUpContentTitle">{{this.name}}
                <br><span style="font-weight: 400;">${{#distanceFixed this.price}}{{/distanceFixed}}</span>
                </div>
                
                  <label style="display: block;" for="">Quantity:</label>
                  <div class="quantity buttons_added">
                    <input type="button" value="-" class="minus">
                    <input type="number" step="1" min="1" max="" name="quantity" 
                    value="{{#idIfIn this.id ../session.cart}}{{#each ../session.cart}}{{#ifEquals this.id ../this.id}}{{this.quantity}}{{/ifEquals}}{{/each}}{{else}}1{{/idIfIn}}" 
                    title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                    <input type="button" value="+" class="plus">
                  </div>
                  
                  {{#each ../menuSpecification}}
                  {{#ifIn @key ../this.specifications}}
                  <div>
                    <label for="">{{@key}}:</label>
                    <select name="specifications" class="form-select form-select-sm" aria-label=".form-select-sm example" required>  
                      <option value="">Open this select menu</option>
                      
                      {{#each this}}
                      {{#idIfIn ../../this.id ../../../session.cart}}
                      {{#each ../../../session.cart}}
                      {{#ifEquals ../../../this.id this.id}}
                      {{#ifIn ../this this.specifications}}
                      <option value="{{../this}}" selected>{{../this}}</option>
                      {{else}}
                      <option value="{{../this}}">{{../this}}</option>
                      {{/ifIn}}
                      {{/ifEquals}}
                      {{/each}}
                      {{else}}
                      <option value="{{this}}">{{this}}</option>
                      {{/idIfIn}}
                      {{/each}}
                    </select>
                  </div>
                  {{/ifIn}}
                  {{/each}}
                  
                
            </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark">Add To Cart</button>
      </div>
      </form>
    </div>
  </div>
</div>
{{/each}}

<script>
  window.onscroll = function() {stickyNav()};
  var navbar = document.getElementsByClassName("subNav");
  var sticky = navbar[0].offsetTop;
  console.log(sticky);
  function stickyNav() {
    if (window.pageYOffset >= sticky) {
      navbar[0].classList.add("sticky")
    } else {
      navbar[0].classList.remove("sticky");
    }
  }
</script>