<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<head>


<body>
  <div class="container" style="">
    <h1 style="text-align: center;">Notifications</h1>
    {{#each booking}}
    <br>


    {{#ifEquals this.confirm false}}
    <div class="card" style="background-color: #ffb03b;">
      <div class="card-body">
        Your Booking at {{this.res_name}} is still pending confirmation
        <div style="float:right;">
          <a href="../bookingDetailsListPage/{{this.email}}/{{this.res_name}}">Click here to view</a>
        </div>
      </div>
    </div>
    {{else}}
    <div class="card" style="background-color:aquamarine;">
      <div class="card-body">
        Your Booking at {{this.res_name}} has been confirmed!
        <div style="float:right;">
          <a href="../bookingDetailsListPage/{{this.email}}/{{this.res_name}}">Click here to view</a>
        </div>
      </div>
    </div>
    {{/ifEquals}}


    {{/each}}


    <br>
  </div>


  {{#ifEquals booking undefined}}
  <div>
    <p style="text-align: center;">There are no bookings under {{this.email}}</p>
  </div>
  {{/ifEquals}}
</body>

</head>