<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>


<div class="container base restab" style="text-align: center; ">
    <h1 style="font-family:Satisfy;">Book at a restaurant</h1>
</div>
<br>
<div class="FDefaultTab" style="padding: 20px;">

    {{#if user}}
    <form method="POST" action="/bookingInterface/bookForm/{{res_name}}">

        <hr>
        <div class="form-outline mb-4">
            <input type="date" id="datefield" name="date" class="form-control" value="2021-07-01" required />
            <label class="form-label" for="datefield">Select Date:</label>
        </div>
        <br>

        <div class="form-group">
            <label class="form-label" for="timing">Opening Hours:</label>
            <input type="time" name="timing" class="form-control timepicker" id="timing" step="3600" required>
        </div>

        <br>
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <div class="form-outline mb-4">
                        <input type="text" id="firstName" name="firstName" class="form-control" readonly
                            value="{{user.fname}}" />
                        <label class="form-label" for="firstName">First Name:</label>
                    </div>

                </div>
                <div class="col">
                    <div class="form-outline mb-4">
                        <input type="text" id="lastName" name="lastName" class="form-control" readonly
                            value="{{user.lname}}" />
                        <label class="form-label" for="lastName">Last Name:</label>
                    </div>
                </div>
            </div>
        </div>
        <br>

        <div class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control" readonly value="{{user.email}}" />
            <label class="form-label" for="email">Email:</label>
        </div>

        <br>

        <div class="form-outline mb-4">
            <input type="number" id="pax" name="pax" class="form-control" min=1 max=10 required />
            <label class="form-label" for="pax">Pax:</label>
        </div>
        <br>
        <button type="submit"
            style="font-family: Roboto; font-size:14px; padding: 12px 27px 11px; font-weight:bold; background-color:#433f39; border-color:#433f39"
            class="btn btn-primary btn-lg btn-block">BOOK</button>
    </form>

    {{else}}
    <h2 style="text-align: center;">Please login before trying to book</h2>
    {{/if}}
</div>
<br>


<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("min", today);

    var today = new Date();
    var dd = today.getDate() + 14;
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    twoWeeks = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("max", twoWeeks);

    document.querySelector("datefield").valueAsDate = new Date();

    document.getElementById('datePicker').valueAsDate = new Date();

    $(document).ready(function () {
        $('input.timepicker').timepicker({});

        $('#timing').timepicker({
            timeFormat: 'h:mm p',
            interval: 60,
            minTime: '10',
            maxTime: '6:00pm',
            defaultTime: '11',
            startTime: '10:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
    });



</script>