<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<style>
  .legend {
    height: 15px;
    width: 15px;
  }
</style>



<div class="container" style="">
  <h1 style="text-align: center;">Notifications</h1>

  <div class="FDefaultTab" style="padding: 15px;;">
    <table style="margin-left: auto; margin-right: auto;">
      <tr>
        <td>
          <div class="legend" style="background-color: #FFC107;"></div>
        </td>
        <td> - Pending</td>
        <td style="padding-right: 40px;"></td>
        <td>
          <div class="legend" style="background-color: #28A745;"></div>
        </td>
        <td> - Confirmed</td>
        <td style="padding-right: 40px;"></td>
        <td>
          <div class="legend" style="background-color: #17A2B8;"></div>
        </td>
        <td> - Review</td>
      </tr>
    </table>

  </div>
  <br>
  <table id="tableforstuffs" class="table table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Date
        </th>
        <th class="th-sm">Time
        </th>
        <th class="th-sm">Restaurant Name
        </th>
        <th class="th-sm">Pax
        </th>
        <th class="th-sm">Email
        </th>
        <th class="th-sm">Update/Review
        </th>
        <th class="th-sm">Cancel Booking
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each booking}}
      <input type="hidden">
      {{#dateDiff this.date}}
      <tr class="table-info">
        <td>{{this.date}}</td>
        <td>{{this.timing}}</td>
        <td>{{this.res_name}}</td>
        <td>{{this.pax}}</td>
        <td>{{this.email}}</td>
        <td><a class="btn btn-primary" style="background-color: #3b5998;" href="../../createReviews/{{this.res_name}}"
            role="button"><i class="far fa-comments"></i></a>
        </td>
        <td><a class="btn btn-primary" style="background-color: #894242;"
            href="/bookingInterface/deleteBooking/{{this.email}}/{{this.res_name}}" role="button"
            data-toggle="confirmation" data-title="Confirm delete?" onclick="return confirm('Are you sure you want to delete this booking?')"><i class="fas fa-ban"></i></a></td>
      </tr>

      {{else}}
      {{#if this.confirm}}
      <tr class="table-success">
        <td>{{this.date}}</td>
        <td>{{this.timing}}</td>
        <td>{{this.res_name}}</td>

        <td>{{this.pax}}</td>
        <td>{{this.email}}</td>
        <td>
        </td>
        <td><a class="btn btn-primary" style="background-color: #894242;"
            href="/bookingInterface/deleteBooking/{{this.email}}/{{this.res_name}}" role="button"
            data-toggle="confirmation" data-title="Confirm delete?" onclick="return confirm('Are you sure you want to delete this booking?')"><i class="fas fa-ban"></i></a></td>
      </tr>
      {{else}}
      <tr class="table-warning">
        <td>{{this.date}}</td>
        <td>{{this.timing}}</td>
        <td>{{this.res_name}}</td>

        <td>{{this.pax}}</td>
        <td>{{this.email}}</td>
        <td><a class="btn btn-primary" style="background-color: #3b5998;"
            href="/bookingInterface/updateForm/{{this.email}}/{{this.res_name}}" role="button"><i
              class="fas fa-edit"></i></a>
        </td>
        <td><a class="btn btn-primary" style="background-color: #894242;"
            href="/bookingInterface/deleteBooking/{{this.email}}/{{this.res_name}}" role="button"
            data-toggle="confirmation" data-title="Confirm delete?" onclick="return confirm('Are you sure you want to delete this booking?')"><i class="fas fa-ban"></i></a></td>
      </tr>
      {{/if}}
      {{/dateDiff}}
      {{/each}}
    </tbody>

  </table>
  <br>
  {{#ifEquals booking undefined}}
  <div>
    <p style="text-align: center;">There are no bookings under {{this.email}}</p>
  </div>
  {{/ifEquals}}


</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
