<style>
    .confirmList {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
</style>

<div class="container base restab">
    <h1>Booking Information:</h1>
</div>

<br>
<div class="FDefaultTab" style="padding: 20px;">
    <h2 style="text-align: center; margin:auto;">Here's your order summary</h2>
    <br>
    <h1 style="border-top: 8px solid #433f39; border-radius: 5px;"></h1>
    <br>
    <h3 style="text-align: center; margin:auto;">Restaurant Details</h3>
    <div style="">
        <div style="display: inline-block;">Restaurant:</div>
        <span style="display: inline-block; float: right;">
            {{booking.res_name}}
        </span>
    </div>
    <div style="">
        <div style="display: inline-block;">Date:</div>
        <div style="display: inline-block; float: right;">
            {{booking.date}}
        </div>
    </div>
    <div style="">
        <div style="display: inline-block;">Time:</div>
        <div style="display: inline-block; float: right;">
            {{booking.timing}}
        </div>
    </div>
    <div style="">
        <div style="display: inline-block;">Pax:</div>
        <div style="display: inline-block; float: right;">
            {{booking.pax}}
        </div>
    </div>
    <br>
    <h1 style="border-top: 8px solid #433f39; border-radius: 5px;"></h1>
    <h3 style="text-align: center; margin:auto;">Personal Details</h3>
    <div style="">
        <div style="display: inline-block;">Name:</div>
        <div style="display: inline-block; float: right;">
            {{booking.firstName}} {{booking.lastName}}
        </div>
    </div>
    <div style="">
        <div style="display: inline-block;">Email:</div>
        <div style="display: inline-block; float: right;">
            {{booking.email}}
        </div>
    </div>
    <br>
    <h1 style="border-top: 8px solid #433f39; border-radius: 5px;"></h1>

    {{#ifEquals user.cust_type "customer"}}
    <div class="form-group">

        <div>
            <a href="../../updateForm/{{booking.email}}/{{booking.res_name}}"><button
                    style="display: inline-block; background-color:#433f39; border-color:#433f39"
                    class="btn btn-primary btn-lg btn-block">Update Booking</button></a>
        </div>
        <br>
        <div>
            <form method="POST" action="/bookingInterface/deleteBooking/{{booking.email}}/{{booking.res_name}}">
                <button style="display: inline-block; background-color:#BB4450; border-color:#433f39"
                    class="btn btn-primary btn-lg btn-block">Delete Booking</button></a>
            </form>
        </div>
    </div>
    {{/ifEquals}}


    {{#ifEquals booking.confirm "0"}}
    {{#ifEquals user.cust_type "staff"}}
    <div class="form-group">
        <div>
            <form method="POST" action="/bookingInterface/bookingDetailsListPage/{{user.email}}/{{user.fname}}">

                <input type="hidden" id="confirm" name="bookingConfirm" value=1>

                <input type="submit" value="Accept Booking" style="display: inline-block; background-color:#433f39;"
                    class="btn btn-primary btn-lg btn-block"></input>
            </form>
        </div>
        <br>
        <div>
            <form method="POST" action="/bookingInterface/deleteBooking/{{booking.email}}/{{booking.res_name}}">
                <button style="display: inline-block; background-color:#BB4450;"
                    class="btn btn-primary btn-lg btn-block">Reject Booking</button>
            </form>
        </div>
    </div>
    {{/ifEquals}}
    {{/ifEquals}}
</div>

<script>
    function set_confirm() {
        document.getElementById("confirm").value = 1
    }
</script>