<div class="container base restab" style="text-align: center;">
    <h1 style="font-family: Satisfy;">Update your booking</h1>
</div>
<br>




<div class="FDefaultTab" style="padding: 20px;">
    <form method="POST" action="/bookingInterface/updateForm/{{booking.email}}/{{booking.res_name}}">
        <div class="">
            <hr>
            <div class="form-outline mb-4">
                <input type="date" id="datefield" name="bookingDate" class="form-control"
                    value="{{booking.date}}" required />
                <label class="form-label" for="bookingDate">Select Date:</label>
            </div>
            <br>
            
            <div class="form-group">
                <label for="bookingTime">Select Time:</label>
                <input type='time' name="bookingTime" class="form-control" id="bookingTime" step="3600" required
                    value="{{booking.timing}}" />
            </div>

            <br>
            <br>

            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <div class="form-outline mb-4">
                            <input type="text" id="firstName" name="firstName" class="form-control"
                                value="{{booking.firstName}}" readonly />
                            <label class="form-label" for="firstName">First Name:</label>
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-outline mb-4">
                            <input type="text" id="lastName" name="lastName" class="form-control"
                                value="{{booking.lastName}}" readonly />
                            <label class="form-label" for="lastName">Last Name:</label>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-outline mb-4">
                <input type="email" id="email" name="email" class="form-control" value="{{booking.email}}"
                    readonly />
                <label class="form-label" for="email">Email:</label>
            </div>

            <br>

            <div class="form-outline mb-4">
                <input type="number" id="bookingPax" name="bookingPax" class="form-control" value="{{booking.pax}}"
                    min=1 max=10 />
                <label class="form-label" for="bookingPax">Pax:</label>
            </div>

            <br>
            

            <input type="hidden" name="bookingConfirm" id="bookingConfirm" value=0>
            <button type="submit" style="font-family: Roboto; font-size:14px; font-weight:bold; padding: 12px 27px 11px; background-color:#433f39; border-color:#894242"
                class="btn btn-primary btn-lg btn-block">Update</button>
        </div>
    </form>
</div>
<br>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    today = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("min", today);

    var today = new Date();
    var dd = today.getDate() + 14;
    var mm = today.getMonth() + 1; //January is 0!
    var yyyy = today.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }

    twoWeeks = yyyy + '-' + mm + '-' + dd;
    document.getElementById("datefield").setAttribute("max", twoWeeks);

    document.querySelector("datefield").valueAsDate = new Date();



    $(function () {
        $('#open_time').timepicker
            ({
                format: 'HH:MM',
                uiLibrary: 'bootstrap4',
            });
    });
</script>